@charset "UTF-8";
/****** Chargement des polices Google Fonts ******/
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Lora";
  src: url("../assets/fonts/Lora-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
/****** Déclaration variables CSS ******/
h1 {
  font-family: "Figtree", sans-serif;
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  color: #f7f7f7;
}

h2 {
  font-family: "Figtree", sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  color: #f7f7f7;
}

h3 {
  font-family: "Figtree", sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  color: #3f4140;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #3f4140;
}

/****** Mise en page du hero ******/
.single-hero {
  height: 90vh;
  position: relative;
  z-index: 1;
  background: linear-gradient(180deg, var(--couleur-projet) 0%, rgba(255, 255, 255, 0) 100%);
}
.single-hero-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  z-index: 100;
}
.single-hero-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.single-hero-content {
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}
.single-hero-content-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.single-hero-content-nav img {
  width: 150px;
  height: auto;
}
.single-hero-content-nav-link {
  text-decoration: none;
  color: #394e6c;
  font-family: "Figtree", sans-serif;
  font-weight: 600;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 7px 18px;
  transition: font-size 0.2s ease-in-out;
}
.single-hero-content-nav-link:hover {
  font-size: 16px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.single-hero-content-main {
  max-width: 40%;
}
.single-hero-content-main h2 {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--couleur-projet);
  font-family: "Figtree", sans-serif;
  font-weight: bold;
  font-size: 15px;
  animation: fadeUp 0.8s ease forwards;
  animation-delay: 0.2s;
  opacity: 0;
  text-transform: uppercase;
}
.single-hero-content-main h2::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: var(--couleur-projet);
}
.single-hero-content-main h1 {
  margin: 30px 0 0;
  color: var(--couleur-projet);
  animation: fadeUp 0.8s ease forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.single-hero-content-data {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 50px;
}
.single-hero-content-data-aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.single-hero-content-data-aside-date {
  color: var(--couleur-projet);
  font-family: "Figtree", sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.single-hero-content-data-aside-link {
  color: var(--couleur-projet);
  font-family: "Figtree", sans-serif;
  font-weight: 600;
  font-size: 15px;
  padding-bottom: 10px;
}
.single-hero-content-data-aside-link:hover {
  font-size: 16px;
}

/******* Mise en page du contenu ******/
.single-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 40px auto 0;
  max-width: 90vw;
  border-top: 1px solid #dddbd4;
  padding: 30px 0;
}

.single-detail-items {
  height: auto;
  overflow: hidden;
  background: #f7f7f7;
  border-radius: 20px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid #dddbd4;
  padding: 20px;
}
.single-detail-items-subtitle {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--couleur-projet);
  font-family: "Figtree", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
}
.single-detail-items-subtitle::before {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--couleur-projet);
}
.single-detail-items-title {
  font-size: 20px;
  color: #394e6c;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0;
}
.single-detail-items-text {
  font-size: 15px;
  color: #3f4140;
}
.single-detail-items-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 15px;
}
.single-detail-items-technologie {
  color: #f7f7f7;
  font-family: "Figtree", sans-serif;
  font-weight: 600;
  font-size: 15px;
  background: #394e6c;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 5px 14px;
}

.single-content {
  margin: 40px auto 0;
  max-width: 90vw;
  border-top: 1px solid #dddbd4;
  padding: 30px 0;
}

/****** Responsive tablette ******/
@media (max-width: 768px) {
  .single-hero-logo {
    width: 300px;
    height: 300px;
  }
  .single-detail {
    display: grid;
    grid-template-columns: 1fr;
  }
}
/****** Responsive mobile ******/
@media (max-width: 450px) {
  .single-hero-content-nav {
    flex-direction: column;
    gap: 10px;
  }
  .single-hero-content-nav-link {
    font-size: 12px;
  }
  .single-hero-content-nav-link:hover {
    font-size: 13px;
  }
  .single-hero-logo {
    width: 200px;
    height: 200px;
  }
  .single-hero-content-main {
    max-width: none;
  }
  .single-hero-content-main h1 {
    font-size: 30px;
    margin: 0;
  }
  .single-hero-content-data {
    flex-direction: column;
    align-items: flex-start;
  }
  .single-hero-content-data-aside {
    align-items: flex-start;
  }
  .single-hero-content-data-aside-date {
    font-size: 12px;
  }
  .single-hero-content-data-aside-link {
    font-size: 12px;
  }
  .single-hero-content-data-aside-link:hover {
    font-size: 13px;
  }
  .single-detail-items-subtitle {
    gap: 5px;
    font-size: 12px;
  }
  .single-detail-items-subtitle::before {
    content: "";
    width: 20px;
  }
  .single-detail-items-title {
    font-size: 15px;
  }
  .single-detail-items-text {
    font-size: 12px;
  }
  .single-detail-items-technologie {
    font-size: 12px;
  }
}/*# sourceMappingURL=single-projet.css.map */