/****** Chargement des polices Google Fonts ******/
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('../assets/fonts/Lora-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/****** Déclaration variables CSS ******/

$blueberry: #394e6c;
$dark-grey: #3f4140;
$sand: #d8b69c;
$light-grey: #dddbd4;
$white: #f7f7f7;

$font-title: 'Figtree', sans-serif;
$font-body: 'Poppins', sans-serif;
$font-accent: 'Lora', serif;

h1 {
    font-family: $font-title;
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
    color: $white;
}

h2 {
    font-family: $font-title;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: $white;
}

h3 {
    font-family: $font-title;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    color: $dark-grey;
}

p {
    font-family: $font-body;
    font-weight: 400;
    font-size: 20px;
    color: $dark-grey;
}

/****** Mise en page du hero ******/
.single-hero {
    height: 90vh;
    position: relative; 
    z-index: 1;
    background: linear-gradient(180deg, var(--couleur-projet) 0%, rgba(255,255,255,0) 100%);        
    &-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 400px;
        z-index: 100;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

 .single-hero-content {
    z-index: 10;
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        & img {
            width: 150px;
            height: auto;
        }
        &-link {
            text-decoration: none;
            color: $blueberry;
            font-family: $font-title;
            font-weight: 600;
            font-size: 15px;
            background: rgba(255,255,255, 0.2);
            border-radius: 20px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            border: 1px solid rgba(255, 255, 255, 0.3);
            padding: 7px 18px;
            transition: font-size 0.2s ease-in-out;
            &:hover {
                font-size: 16px;
                border: 1px solid rgba(255, 255, 255, 1);
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
            }
        }
    }
}
.single-hero-content-main {
    max-width: 40%;
    & h2 {
        display: flex;
        align-items: center;
        gap: 15px;
        color: var(--couleur-projet);
        font-family: $font-title;
        font-weight: bold;
        font-size: 15px;
        animation: fadeUp 0.8s ease forwards;
        animation-delay: 0.2s;
        opacity: 0;
        text-transform: uppercase;
        &::before {
            content: '';
            display: block;
            width: 40px;
            height: 2px;
            background-color: var(--couleur-projet); 
        }
    }
    & h1 {
        margin: 30px 0 0;
        color: var(--couleur-projet);
        animation: fadeUp 0.8s ease forwards;
        animation-delay: 0.5s;
        opacity: 0;
    }
}
.single-hero-content-data {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 50px;
    &-aside {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        &-date {
            color: var(--couleur-projet);
            font-family: $font-title;
            font-weight: bold;
            font-size: 15px;
            text-transform: uppercase;
            animation: fadeUp 0.8s ease forwards;
            animation-delay: 0.2s;
            opacity: 0;
        }
        &-link {
            color: var(--couleur-projet);            
            font-family: $font-title;
            font-weight: 600;
            font-size: 15px;
            padding-bottom: 10px;
            animation: fadeUp 0.8s ease forwards;
            animation-delay: 0.5s;
            opacity: 0;
            &:hover {
                font-size: 16px;
            }
        }
    }
}
 /******* Mise en page du contenu ******/
.single-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 40px auto 0;
    max-width: 90vw;
    border-top: 1px solid $light-grey;
    padding: 40px 0;
}

.single-detail-items {
    height: auto;
    overflow: hidden;
    background: #f7f7f7;
    border-radius: 20px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid $light-grey;
    padding: 20px;
    &-subtitle {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--couleur-projet);
        font-family: $font-title;
        font-size: 15px;
        text-transform: uppercase;
        margin: 0;
        &::before {
            content: '';
            display: block;
            width: 30px;
            height: 2px;
            background-color: var(--couleur-projet); 
        }
    }
    &-title {
        font-size: 20px;
        color: $blueberry;
        text-transform: uppercase;
        font-weight: bold;
        margin: 10px 0;
    }
    &-text {
        font-size: 15px;
        color: $dark-grey;
    }
    &-technologies {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 15px;
    }
    
    &-technologie {
        color: $white;
        font-family: $font-title;
        font-weight: 600;
        font-size: 15px;
        background: $blueberry;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        padding: 5px 14px;
    }
}


.single-content {
    margin: 40px auto 0;
    max-width: 90vw;
    border-top: 1px solid $light-grey;
    padding: 40px 0;
}

/****** Responsive tablette ******/
@media (max-width: 768px) {
    .single-hero-logo {
        width: 300px;
        height: 300px;
    }
    .single-detail {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/****** Responsive mobile ******/
@media (max-width: 450px) {
    .single-hero-content-nav {
        flex-direction: column;
        gap: 10px;
        &-link {
            font-size: 12px;
            &:hover {
                font-size: 13px;
            }
        }
    }
    .single-hero-logo {
        width: 200px;
        height: 200px;
    }
    .single-hero-content-main {
        max-width: none;
        & h1 {
            font-size: 30px;
            margin: 0;
        }
    }
    .single-hero-content-data {
        flex-direction: column;
        align-items: flex-start;
        &-aside {
            align-items: flex-start;
            &-date {
                font-size: 12px;
            }
            &-link {
                font-size: 12px;
                &:hover {
                    font-size: 13px;
                }
            }
        }
    }
    .single-detail-items {
        &-subtitle {
            gap: 5px;
            font-size: 12px;
            &::before {
                width: 20px;
            }
        }
        &-title {
            font-size: 15px;
        }
        &-text {
            font-size: 12px;
        }
        &-technologie {
                font-size: 12px;
        }
    }
}
