/****** Chargement des polices Google Fonts ******/
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('../assets/fonts/Lora-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/****** Déclaration variables CSS ******/

$blueberry: #394e6c;
$dark-grey: #3f4140;
$sand: #d8b69c;
$light-grey: #dddbd4;
$white: #f7f7f7;

$font-title: 'Figtree', sans-serif;
$font-body: 'Poppins', sans-serif;
$font-accent: 'Lora', serif;

h1 {
    font-family: $font-title;
    font-weight: bold;
    font-size: 70px;
    text-transform: uppercase;
    color: $white;
}

h2 {
    font-family: $font-title;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: $white;
}

h3 {
    font-family: $font-title;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    color: $dark-grey;
}

p {
    font-family: $font-body;
    font-weight: 400;
    font-size: 20px;
    color: $dark-grey;
}

/****** Styles globaux ******/
body {
    margin: 0;
}

.glass-button {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 7px 18px;
    &:hover {
        border: 1px solid rgba(255, 255, 255, 1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
    }
}

.glass-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 7px 18px;
}



/****** Mise en page header ******/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    position: sticky;
    top: 10px;
    z-index: 1000;
    transition: background 0.3s ease-in-out;
    &.header--scrolled {
        background: linear-gradient(180deg, rgba(57, 78, 108, 0.60) 0%, rgba(57, 78, 108, 0.60) 75%, rgba(57, 78, 108, 0) 100%);
    }
}

.header-nav {
    display: flex;
    gap: 30px;
    & li {
        list-style: none;
    }
    & a {
        text-decoration: none;
        color: $white;
        font-family: $font-title;
        font-weight: 600;
        font-size: 18px;
        transition: font-size 0.2s ease-in-out;
        &:hover {
            font-size: 20px;
        }
    }
}

 /****** Mise en page section hero ******/
.front-page-hero {
    background-image: url(../assets/img/hero-header.jpg);
    background-size: cover;
    background-position: center top;
    width: 98vw;
    height: 92vh; 
    border-radius: 30px;
    position: relative;
    margin: auto;
    margin-top: -140px;
    z-index: 1;
}

.front-page-hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.9) 75%);
    border-radius: 30px;
}



/****** Responsive mobile ******/

@media (max-width: 450px) {
    .header {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        padding: 20px;
        position: sticky;
        top: 0;
    }
    .header-nav {
        padding-left: 0;
        & a {
            font-size: 15px;
        }
    }
    .front-page-hero {
        margin-top: -170px;
        &-overlay {
            background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.9) 90%);
        }
    }
}