/****** Chargement des polices Google Fonts ******/
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('../assets/fonts/Lora-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/****** Déclaration variables CSS ******/

$blueberry: #394e6c;
$dark-grey: #3f4140;
$sand: #d8b69c;
$light-grey: #dddbd4;
$white: #f7f7f7;

$font-title: 'Figtree', sans-serif;
$font-body: 'Poppins', sans-serif;
$font-accent: 'Lora', serif;

h1 {
    font-family: $font-title;
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
    color: $white;
}

h2 {
    font-family: $font-title;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: $white;
}

h3 {
    font-family: $font-title;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    color: $dark-grey;
}

p {
    font-family: $font-body;
    font-weight: 400;
    font-size: 20px;
    color: $dark-grey;
}

/****** Styles globaux ******/
body {
    margin: 0;
}

.glass-button {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 7px 18px;
    &:hover {
        border: 1px solid rgba(255, 255, 255, 1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
    }
}

.glass-card {
    background: rgba(221, 219, 212, 0.5);
    border-radius: 20px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(221, 219, 212, 1);
    padding: 7px 18px;
}

.front-page-section {
    margin: 50px auto 0;
    max-width: 90vw;
    border-top: 1px solid $light-grey;
    &-header {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 20px 0;
        &-favicon {
            width: 40px;
            height: auto;
        }
        & h2 {
            font-family: $font-title;
            font-weight: bold;
            font-size: 15px;
            text-transform: uppercase;
            color: $dark-grey;
        }
    }
}

/****** Mise en page header ******/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 20px;
    z-index: 1000;
    transition: background 0.3s ease-in-out;
    &.header--scrolled {
        background: linear-gradient(180deg, rgba(57, 78, 108, 0.60) 0%, rgba(57, 78, 108, 0.40) 75%, rgba(57, 78, 108, 0) 100%);
    }
}

.header-nav {
    display: flex;
    gap: 30px;
    & li {
        list-style: none;
    }
    & a {
        text-decoration: none;
        color: $white;
        font-family: $font-title;
        font-weight: 600;
        font-size: 18px;
        transition: font-size 0.2s ease-in-out;
        &:hover {
            font-size: 20px;
        }
    }
}

 /****** Mise en page section hero ******/
.front-page-hero {
    background-image: url(../assets/img/hero-header.jpg);
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100vh; 
    position: relative;
    margin-top: -120px;
    z-index: 1;
    &-overlay {
        position: absolute;
        inset: 0;
        z-index: 2;
        background: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.9) 75%);
    }
    &-content {
        position: relative;
        z-index: 10;
        padding: 180px 65px 0 65px;
    }
    &-title {
        margin: 50px 0;
    }
}

.front-page-hero-subtitle {
    display: flex;
    align-items: center;
    gap: 15px;
    color: $sand;
    font-family: $font-title;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    &::before {
        content: '';
        display: block;
        width: 40px;
        height: 2px;
        background-color: $sand; 
    }
}

.front-page-hero-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-projet {
        background: $blueberry;
        border-radius: 20px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
        padding: 7px 18px;  
        margin-right: 20px;
        text-decoration: none;
        color: $white;
        font-family: $font-title;
        font-weight: 600;
        font-size: 18px;
        transition: font-size 0.2s ease-in-out;
            &:hover {
                font-size: 20px;
            }
    }
    &-cta {
        text-decoration: none;
        color: $white;
        font-family: $font-title;
        font-weight: 600;
        font-size: 18px;
        transition: font-size 0.2s ease-in-out;
        &:hover {
            font-size: 20px;
        }
    }
    &-author {
        font-family: $font-title;
        font-weight: bold;
        font-size: 15px;
        color: $white;  
        text-transform: uppercase;
    }
}

.front-page-hero-opacity {
    opacity: 0.5;
}

/****** Mise en page section intro ******/
.front-page-intro {
    &-content {
        max-width: 680px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        & p {
            font-family: $font-body;
            color: $dark-grey;
            font-size: 20px;
        }
    }
    &-accent {
        font-family: $font-accent;
        color: $blueberry;
    }
    &-signature {
        font-family: $font-accent;
        color: $dark-grey;
        font-size: 15px;
        max-width: 680px;
        margin: 25px auto;
        display: flex;
        flex-direction: row-reverse;
    }
}

.front-page-intro-subtitle {
    color: $sand;
    display: flex;
    align-items: center;
    gap: 15px;
    &::before{
        content: '';
        display: block;
        width: 40px;
        height: 2px;
        background-color: $sand; 
    }
    &::after{
        content: '';
        display: block;
        width: 40px;
        height: 2px;
        background-color: $sand; 
    }
}

/****** Mise en page section projets ******/
.front-page-projets-description {
    font-family: $font-body;
    color: $dark-grey;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    & span {
        font-family: $font-accent;
        color: $blueberry;
    }
}

/****** Mise en page section à propos ******/
.front-page-a-propos-content {
    display: flex;
    gap: 60px;
    &-photo {
        width: 400px;
        height: auto;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    }
    &-presentation p {
        margin-top: 0;
    }
}

.dropdown-menu-item {
    border-bottom: 1px solid $light-grey;
    &-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        padding: 20px 0;
        font-family: $font-body;
        font-weight: bold;
        font-size: 15px;
        color: $dark-grey;
        text-align: left;
    }
    &-icon {
        transition: transform 0.3s ease;
    }
    &-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
        & p {
            margin: 10px 0;
            font-family: $font-body;
            color: $dark-grey;
            font-size: 15px;
        }
    }
}

.dropdown-menu-item.is-open {
    .dropdown-menu-item-icon {
        transform: rotate(45deg); 
    }
    .dropdown-menu-item-content {
        max-height: 500px; 
    }
}

.carousel-title {
    font-family: $font-title;
    font-size: 15px;
    color: $dark-grey;
    text-transform: uppercase;
    font-weight: bold;
    margin: 50px 0 10px 0;
}

.carousel {
    overflow: hidden; 
    width: 100%;
    padding: 20px 0;
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%
    );
    -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%
    );
    &-items {
        display: flex;
        gap: 40px;
        width: max-content; 
        animation: scroll 30s linear infinite;
        & span {
            font-family: $font-body;
            color: $dark-grey;
            font-size: 15px;
            font-weight: bold;
        }
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%); 
    }
}

/****** Mise en page section contact ******/
.front-page-contact {
    width: 90vw;
    height: auto;
    background: linear-gradient(180deg, rgba(57, 78, 108, 0.1) 0%, rgba(57, 78, 108, 0.5) 30%, rgba(57, 78, 108, 0.9) 75%);
    border-radius: 20px;
    margin: 50px auto;
    position: relative;
    z-index: 1;
    &-overlay {
        position: absolute;
        z-index: 2;
        inset: 0;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
     }
}
.front-page-contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

/****** Mise en page footer ******/
.footer {
    background-color: $sand;
    height: auto;
    &-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 20px 0 20px;
    }
    &-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        & p {
            font-family: $font-body;
            font-weight: 400;
            font-size: 14px;
            color: $dark-grey;
        }
    }
}

.footer-top ul {
    display: flex;
    gap: 85px;
    padding-left: 0;
    & li {
        list-style: none;
    }
    & a {
        text-decoration: none;
        color: $dark-grey;
        font-family: $font-body;
        font-weight: 400;
        font-size: 14px;
        &:hover {
            font-weight: 600;
        }
    }
}

.footer-menu {
    display: flex;
    gap: 30px;
    & li {
        list-style: none;
    }
    & a {
        text-decoration: none;
        color: $dark-grey;
        font-family: $font-body;
        font-weight: 400;
        font-size: 14px;
        &:hover {
            font-weight: 600;
        }
    }
}

/****** Responsive tablette ******/
@media (max-width: 768px) {
    .footer {
        &-top {
            padding: 20px 20px 10px 20px;
            & ul {
                gap: 50px;

            }
        }
        &-bottom {
            display: flex;
            flex-direction: column;
            & p {
             margin-bottom: 0;
            }
        }
        &-menu {
            padding-left: 0;
            margin: 0;
            & li {
                margin: 15px;
            }   
        }
    }
}
/****** Responsive mobile ******/

@media (max-width: 450px) {
    .header {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        padding: 20px;
        position: sticky;
        top: 0;
        &-nav {
            padding-left: 0;
            & a {
                font-size: 12px;
            } 
        }
    }
    .front-page-hero {
        margin-top: -170px;
        &-overlay {
            background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.9) 90%);
        }
    }
    .footer-bottom p {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .footer-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        & li {
            margin: 5px;
        }
        & a {
            font-size: 12px;
        }
    }
}